    html {
      font-family:
        Times, "Times New Roman", Arial, sans-serif;  
    }
    
    body {
      padding-top: 40px;
    }

     .navig_listing {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
        position: fixed;
        top: 0;
      }

      .navig_listing .navig_item .navig_link {
        display: block;
        color: white;
        text-decoration: none;
        text-align:center;
      }

      .navig_listing .navig_item .navig_link:hover:not(.active) {
        background-color: #111;
      }

      .navig_listing .navig_item .navig_link.active {
        background-color: #01796F;
      }
      .navig_link {
        padding: 10px 10px;
      }

    /* Add a lightgray right border to all list items, except the last */
    .navig_listing .navig_item {
      float: left;
      border-right: 1px solid #bbbbbb;
    }

    .navig_listing .navig_item:last-child {
      border-right: none;
    }

    .navig_item {
       width: 180px;
    text-align: center;      /* 让文字居中，可选 */
    box-sizing: border-box;  /* padding/边框计入宽度 */
    }
